*{
	border: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: gainsboro;
}
.maincontent{
	width: 80%;
	margin: auto;
	height: 100vh;
}
.leftsidebar{
	width: 29%;
	margin-right: 2%;
	background-color: white;
	height: 100vh;
	float: left;
}
.rightsidebar{
	float: left;
	width: 69%;
	background-color: white;
	height: 100vh;
}