*{
	border: 0;
	padding: 0;
	box-sizing: border-box;
    text-decoration: none;
}
body{
	background-color: gainsboro;
}
.image{
    width: 100%;
    height: auto;
}
img{
    width: 100%;
    height: auto;
}
.name{
    padding: 10px;
    font-size: 30px;
    color: black;
    font-family:monospace;
    text-transform: uppercase;
    
}
.address{
    padding: 10px;
}
.address a{
    display: block;
    padding-bottom: 10px;
    font-size: 17px;
}
.address a:last-child{
    padding-bottom: none;
}
.address a i{
    padding-right: 10px
}
.maincontent{
	width: 80%;
	margin: auto;
}
.leftsidebar{
	width: 29%;
	margin-right: 2%;
	background-color: white;
    float: left;
}
.padd{
    padding-right: 30px;
}
.progessbar{
    position: relative;
}
.progess{
    width: 100%;
    background-color: gray;
    border-radius: 10px;
    margin: 20px 0;
    height: 20px;
    position: relative;
}
.pro{
    width: 90%;
    background-color:cyan;
    border-radius: 10px;
    z-index: 1;
    height: 20px;
    top: 0;
    position: absolute;
}
.p{
    text-align: center;
    position: absolute;
    z-index: 2;
    left: 50px;
}
.rightsidebar{
	float: left;
	width: 69%;
	background-color: white;

}